/**
 * Basic typography style for copy text
 */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap");
:root {
  --white-1: #ffffff;
  --white-2: #fbfcfc;
  --white-3: #f1f3f5;
  --white-4: #dee0e2;
  --black-1: #000000;
  --black-2: #111315;
  --black-3: #303030;
  --black-4: #808080;
}
@media (prefers-color-scheme: dark) {
  :root {
    --black-1: #ffffff;
    --black-2: #fbfcfc;
    --black-3: #f1f3f5;
    --black-4: #dee0e2;
    --white-1: #000000;
    --white-2: #111315;
    --white-3: #303030;
    --white-4: #808080;
  }
}

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  background-color: var(--white-1);
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

@font-face {
  font-family: "Caslon Pro";
  src: url(/assets/fonts/ACaslonPro-Regular.woff) format(woff);
  font-weight: normal;
}
@font-face {
  font-family: "Caslon Pro";
  src: url(/assets/fonts/ACaslonPro-Semibold.woff) format(woff);
  font-weight: 500;
}
@font-face {
  font-family: "Caslon Pro";
  src: url(/assets/fonts/ACaslonPro-Bold.woff) format(woff);
  font-weight: 900;
}
@font-face {
  font-family: "Caslon Pro";
  src: url(/assets/fonts/ACaslonPro-Italic.woff) format(woff);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-Black.woff) format(woff);
  font-weight: 900;
}
@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-BlackItalic.woff) format(woff);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-Bold.woff) format(woff);
  font-weight: 700;
}
@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-Medium.woff) format(woff);
  font-weight: 500;
}
@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-Book.woff) format(woff);
  font-weight: 400;
}
h1,
h2,
h3 {
  font-family: Outfit, Tahoma, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: var(--black-1);
  letter-spacing: 0.5px;
}
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  color: var(--white-1);
  background: var(--black-1);
}
h1::selection,
h2::selection,
h3::selection {
  color: var(--white-1);
  background: var(--black-1);
}

h4,
h5,
h6,
p,
ul {
  font-family: Circular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-block: 0.5rem;
  line-height: 1.2;
}
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection,
ul::-moz-selection {
  color: var(--white-3);
  background: var(--black-3);
}
h4::selection,
h5::selection,
h6::selection,
p::selection,
ul::selection {
  color: var(--white-3);
  background: var(--black-3);
}

h1,
.h1 {
  font-size: clamp(2.2rem, 2.1335rem + 0.3545vw, 2.488rem);
}

h2,
.h2 {
  font-size: clamp(1.9rem, 1.8598rem + 0.2142vw, 2.074rem);
}

h3,
.h3 {
  font-size: clamp(2.0625rem, 1.5205rem + 1.7413vw, 2.5rem);
}

h4,
.h4 {
  font-size: clamp(1.5rem, 1.4474rem + 0.2806vw, 1.728rem);
}

h5,
.h5 {
  font-size: clamp(1.2rem, 1.1446rem + 0.2954vw, 1.44rem);
  font-weight: 500;
}

h6,
.h6 {
  font-size: clamp(1.1rem, 1.0769rem + 0.1231vw, 1.2rem);
  font-weight: 500;
}

p,
a {
  font-size: clamp(1rem, 0.9538rem + 0.2462vw, 1.2rem);
  font-weight: 200;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

span::-moz-selection {
  color: var(--white-1);
  background: var(--black-1);
}
span::selection {
  color: var(--white-1);
  background: var(--black-1);
}

a {
  font-family: Circular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  color: var(--black-3);
}
a:focus-visible {
  outline: 1px dashed var(--black-3);
  padding: 0.2rem;
  outline-offset: 0.2rem;
  font-weight: 500;
}
a::-moz-selection {
  color: var(--white-1);
  background: var(--black-1);
}
a::selection {
  color: var(--white-1);
  background: var(--black-1);
}

.triangle {
  display: inline-block;
  margin-left: 0.3rem;
  width: 0;
  height: 0;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent var(--black-2);
  border-style: solid;
  position: relative;
  transition: transform 400ms ease-in;
}

.footer {
  background: var(--white-1);
  padding: 2rem 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 7vw;
  column-gap: 7vw;
  border-top: 0.5px solid var(--white-4);
}
@media (max-width: 80rem) {
  .footer {
    padding: 2rem 15vw;
  }
}
@media (max-width: 48rem) {
  .footer {
    padding: 2rem 7vw;
  }
}
@media (max-width: 30rem) {
  .footer {
    flex-direction: column;
    padding: 2rem 5vw;
    align-items: flex-start;
  }
}
.footer h3 {
  margin-top: -1rem;
  line-height: 1.2;
}
.footer p {
  color: var(--black-2);
  font-size: 1rem;
}
.footer__link {
  margin-bottom: 1rem;
}
.footer a {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.footer a p {
  color: var(--black-3);
  font-weight: 500;
  font-size: 1rem;
}
.footer__icon {
  width: 1.8rem;
}
.footer__icon path {
  fill: var(--black-1);
}
.footer__credits {
  align-self: flex-end;
}
.footer__credits p {
  margin-bottom: 0.5rem;
}
@media (max-width: 48rem) {
  .footer__credits {
    align-self: center;
    width: 80%;
  }
}
.footer__list {
  align-self: center;
  -webkit-padding-start: unset;
  padding-inline-start: unset;
}
.footer__gallery {
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 48rem) {
  .footer__gallery {
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
.footer__gallery > * {
  width: 12vw;
  height: 12vw;
  max-width: 15vw;
  max-height: 15vw;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 48rem) {
  .footer__gallery > * {
    width: 100%;
    height: 80px;
    max-width: unset;
    max-height: unset;
  }
}
.footer__reserved {
  font-family: Circular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  color: var(--black-4);
}
@media (max-width: 30rem) {
  .footer__reserved {
    text-align: center;
  }
}
.footer__reserved::before {
  content: "";
  width: 100%;
  background: var(--black-4);
  height: 1px;
  display: block;
  margin-bottom: 0.3rem;
}

.scroll-up .navigation {
  box-shadow: 0 0.2rem 4rem -2rem rgba(157, 156, 156, 0.4);
}

.scroll-down .navigation {
  transform: translate3d(0, -100%, 0);
}

.navigation {
  padding: 1.5rem 5rem 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  transition: all 400ms ease-in-out;
}
@media (max-width: 48rem) {
  .navigation {
    padding: 1.5rem 1rem 0 1rem;
  }
}
@media (prefers-color-scheme: dark) {
  .navigation {
    mix-blend-mode: difference;
  }
}
.navigation__logo {
  font-family: "Caslon Pro", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--black-1);
  line-height: 1.2;
  align-self: flex-start;
}
.navigation__link__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
@media (max-width: 48rem) {
  .navigation__link__list {
    display: block;
    margin: 0;
  }
}
@media (max-width: 48rem) {
  .navigation__link li {
    text-align: end;
  }
}
@media (max-width: 48rem) {
  .navigation__link__item {
    display: inline-block;
    margin-bottom: 0.4rem;
  }
}
.navigation__link__item:hover {
  color: var(--black-4);
  transition: all 400ms ease-in-out;
}
.navigation__link__item::after {
  content: "";
  position: relative;
  right: 100%;
  height: 1px;
  width: calc(100% - 5px);
  display: block;
  opacity: 0;
  background: var(--black-4);
  transition: right 400ms ease-in-out;
}
.navigation__link__item:hover::after {
  opacity: 1;
  right: 0;
}
.navigation__link__item--active {
  font-weight: 600;
}
.navigation__link__item--active::after {
  content: "";
  position: relative;
  right: 0;
  height: 1px;
  width: calc(100% - 5px);
  display: block;
  background: var(--black-4);
  opacity: 1;
  transition: right 400ms ease-in-out;
}
.navigation__link__item--button {
  padding: 0.5rem;
  border: 1px dashed var(--black-4);
  border-radius: 1px;
  font-weight: 600;
  transition: all 400ms ease-in-out;
}
.navigation__link__item--button:hover {
  color: var(--black-4);
  font-weight: 800;
}
@media (max-width: 48rem) {
  .navigation__link__item--button {
    padding: 0;
    border: unset;
    border-radius: 0;
  }
}

.hero {
  display: flex;
  align-content: center;
  min-height: 100vh;
  margin: 0 1rem 0 7vw;
}
@media (max-width: 48rem) {
  .hero {
    display: block;
    min-height: unset;
    margin: 1rem 1rem;
  }
}
.hero__item {
  flex-basis: 100%;
}
.hero__side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4rem;
}
@media (max-width: 48rem) {
  .hero__side {
    height: 100vh;
  }
}
.hero__title {
  font-size: clamp(3.3rem, 3.1846rem + 0.6154vw, 3.8rem);
  line-height: 1.1;
  background: -webkit-linear-gradient(var(--black-2), var(--black-3), var(--black-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 95%;
}
.hero__desc {
  color: var(--black-4);
  font-weight: 400;
  width: 70%;
  margin-top: 0.5rem;
}
.hero__item--img {
  align-self: center;
  width: 100%;
  height: calc(100vh - 2rem);
}
.hero__img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.hero__img__label {
  z-index: 2;
  position: absolute;
  color: var(--black-3);
  top: 60%;
  transform: translateX(-30%);
}
@media (max-width: 48rem) {
  .hero__img__label {
    top: unset;
    transform: unset;
  }
}
.hero__img__label p {
  margin-bottom: -0.3rem;
  margin-left: 0.5rem;
  color: var(--black-4);
}
.hero__img__label h3 {
  color: #ffffff;
  background: #000000;
  padding: 0.2rem;
  line-height: 1;
}
.hero__contact {
  color: var(--black-3);
  display: flex;
}
.hero__contact > * {
  margin-right: 1rem;
}
.hero__contact__item:hover {
  color: var(--black-1);
  transition: all 400ms ease-in-out;
}
.hero__contact__item::before {
  content: "";
  position: relative;
  height: 2px;
  width: calc(100% - 15px);
  display: block;
  background: var(--black-4);
  transition: right 400ms ease-in-out;
  top: 100%;
}
.hero__contact__item::after {
  content: "";
  position: relative;
  height: 2px;
  width: 0;
  display: block;
  opacity: 1;
  background: var(--black-1);
  transition: width 400ms ease-in-out;
  top: 2px;
}
.hero__contact__item:hover::after {
  width: calc(100% - 15px);
}

.works {
  background: var(--white-2);
  padding-block: 2rem;
}
.works__container {
  margin-left: 5vw;
  margin-block: 1rem;
}
.works__title {
  width: 80%;
  line-height: 1;
}
.works__title::after {
  content: "";
  width: 180px;
  background: var(--black-4);
  height: 1px;
  display: block;
  margin-block: 0.3rem;
}
.works__desc {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--black-4);
}
.works__list {
  margin-block: 2rem;
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
}

.card {
  width: 300px !important;
  min-width: 300px !important;
  height: 380px;
  border: 1px solid var(--white-4);
  transition: all 400ms ease-in-out;
}
.card:hover .card__img {
  transform: scale(1.2);
  transition: all 400ms ease-in-out;
}
.card__title {
  margin-bottom: auto;
}
.card a {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__container {
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
}
.card__info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.card__info > * {
  font-size: 0.8rem;
  color: var(--black-4);
}

.see-works {
  font-weight: 800;
  letter-spacing: 1.5px;
}
.see-works:hover {
  color: var(--black-4);
}
.see-works:hover .triangle {
  transform: rotate(360deg);
  border-color: transparent transparent transparent var(--black-4);
}

.swiper {
  width: 600px;
  height: 300px;
}

.about-me {
  display: grid;
  align-content: center;
  min-height: 100vh;
  margin: 1rem 7vw;
}
@media (max-width: 48rem) {
  .about-me {
    margin-top: 20vh;
  }
}
.about-me__column {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 48rem) {
  .about-me__column {
    flex-direction: column;
  }
}
.about-me__img {
  width: 300px;
  height: 400px;
}
@media (max-width: 48rem) {
  .about-me__img {
    width: 100%;
    height: 400px;
  }
}
.about-me__bio {
  margin-top: 3rem;
  width: 60%;
}
@media (max-width: 48rem) {
  .about-me__bio {
    width: 100%;
  }
}
.about-me__bio p {
  color: var(--black-3);
  width: 80%;
}
@media (max-width: 48rem) {
  .about-me__bio p {
    margin-top: 1rem;
    text-align: end;
    width: 100%;
  }
}

.story {
  margin: 0 7vw;
}
.story p {
  color: var(--black-3);
  width: 80%;
  margin-bottom: 2rem;
}
@media (max-width: 48rem) {
  .story p {
    width: 100%;
  }
}

.work {
  margin: 1rem 7vw 5vw 7vw;
}
.work p {
  color: var(--black-3);
  width: 80%;
  margin-bottom: 2rem;
  margin-right: auto;
}
@media (max-width: 48rem) {
  .work p {
    width: 100%;
  }
}

.experience {
  margin: 5rem 7vw 2vh 7vw;
}
.experience__column {
  display: flex;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  margin-top: 2rem;
}
@media (max-width: 48rem) {
  .experience__column {
    display: block;
  }
}
.experience__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.experience__img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  height: 70px;
  width: 70px;
  -o-object-fit: contain;
  object-fit: contain;
}
.experience__img--white {
  mix-blend-mode: difference;
}
.experience .education {
  margin-left: 1rem;
}
@media (max-width: 48rem) {
  .experience .education {
    margin-left: unset;
  }
}
.experience .education__item {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}
@media (max-width: 48rem) {
  .experience .education__item {
    margin-inline: 2vw;
  }
}
.experience .education__item::after {
  content: "";
  width: 100%;
  background: var(--white-4);
  height: 1px;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.experience .education__name {
  color: var(--black-2);
  width: 80%;
  margin-bottom: 0.2rem;
}
.experience .education__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.experience .education__school {
  color: var(--black-3);
  width: 60%;
}
.experience .education__date {
  font-size: 0.8rem;
  color: var(--black-4);
}
.experience .experiences {
  width: 40%;
}
@media (max-width: 48rem) {
  .experience .experiences {
    width: 100%;
  }
}
.experience .experiences__list {
  margin-left: 2rem;
}
@media (max-width: 48rem) {
  .experience .experiences__list {
    margin-left: unset;
  }
}
.experience .experiences__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid var(--white-4);
  padding-bottom: 1rem;
}
.experience .experiences__item p {
  color: var(--black-2);
  font-size: 0.9rem;
}
.experience .experiences__date {
  color: var(--black-4) !important;
}
.experience .experiences__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.experience .experiences__role {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.skills {
  padding: 4rem 7vw;
  color: var(--black-1);
}
.skills__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.skills__column {
  display: flex;
  margin-left: 1rem;
  margin-top: 2rem;
}
@media (max-width: 48rem) {
  .skills__column {
    flex-direction: column;
    row-gap: 1rem;
    margin-left: unset;
  }
}
.skills__column > * {
  flex-basis: 100%;
}
.skills .soft-skills__list {
  display: flex;
}
.skills .software__list {
  display: flex;
  -moz-column-gap: 3rem;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}
@media (max-width: 48rem) {
  .skills .software__list {
    margin-left: unset;
  }
}
.skills .software__item {
  display: grid;
  place-items: center;
  min-width: 90px;
}
.skills .software__item__img {
  height: 50px;
  margin-bottom: 0.5rem;
}
.skills .software__item__img path {
  fill: var(--black-1);
}
.skills .software__item__title {
  font-size: 0.9rem;
  text-align: center;
}

.chapter {
  color: var(--black-4);
  font-size: 1.5rem !important;
  font-family: Circular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
  text-align: right;
}
.chapter__name {
  font-size: 1.2rem;
}

.overview {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0 7vw;
}
@media (max-width: 48rem) {
  .overview {
    display: block;
    margin-top: 20vh;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
}
.overview > * {
  width: 50%;
}
@media (max-width: 48rem) {
  .overview > * {
    width: 90%;
  }
}
.overview a:hover {
  color: var(--black-4);
}
.overview a:hover .triangle {
  border-color: transparent transparent transparent var(--black-4);
  transform: rotate(360deg);
}
@media (max-width: 48rem) {
  .overview .title {
    margin-top: 2rem;
  }
}
.overview .title > h1 {
  font-size: clamp(3rem, 2.8644rem + 0.4356vw, 3.3rem);
  margin-bottom: 2rem;
  line-height: 1.2;
}
.overview .desc {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media (max-width: 48rem) {
  .overview .desc {
    row-gap: 1rem;
  }
}
.overview .desc > div::after {
  content: "";
  width: 100%;
  background: var(--white-4);
  height: 1px;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.overview .desc p,
.overview .desc h4 {
  color: var(--black-3);
}
.overview .desc p.title {
  font-size: 1rem;
  color: var(--black-4);
}

.project__img {
  margin: 2vw 7vw;
}
@media (max-width: 48rem) {
  .project__img {
    width: calc(100% - 7w);
  }
}
.project__img img {
  max-width: 100%;
}

.tools {
  margin: 7vw 7vw;
}
.tools::after {
  content: "";
  width: 100%;
  background: var(--white-4);
  height: 1px;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.tools h4.title {
  color: var(--black-1);
  margin-bottom: 2rem;
}
.tools__list {
  display: flex;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
@media (max-width: 48rem) {
  .tools__list {
    justify-content: center;
  }
}
.tools__item {
  display: grid;
  place-items: center;
}
@media (max-width: 48rem) {
  .tools__item {
    min-width: 20vw;
  }
}
.tools__item__img {
  height: 50px;
  margin-bottom: 0.5rem;
}
.tools__item__img--png {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.tools__item__img path {
  fill: var(--black-1);
}
.tools__item p {
  color: var(--black-2);
}

.margin-left {
  margin-left: 20vw;
}
@media (max-width: 48rem) {
  .margin-left {
    margin-left: 15vw;
  }
}

.process {
  margin: 0 7vw;
}
.process::after {
  content: "";
  width: 100%;
  background: var(--white-4);
  height: 1px;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.process h4.title {
  color: var(--black-1);
  margin-bottom: 3rem;
}
.process h5 {
  color: var(--black-2);
}
.process p {
  margin-bottom: 1rem;
  color: var(--black-3);
}
.process div {
  margin-bottom: 2rem;
}

.result h4.title {
  color: var(--black-1);
  margin: 7vw 7vw 3vw 7vw;
}
.result__img {
  width: 100%;
}

.work__list {
  margin: 6vw 7vw 0 7vw;
}
@media (max-width: 30rem) {
  .work__list {
    margin-top: 20vh;
  }
}
.work__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 4rem;
}
@media (max-width: 48rem) {
  .work__item {
    flex-direction: column;
  }
  .work__item::after {
    content: "";
    width: 100%;
    background: var(--white-4);
    height: 1px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
}
.work__item:hover .work__img {
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}
.work__item > * {
  flex-basis: 50%;
}
.work__img {
  max-width: 40%;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
}
@media (max-width: 48rem) {
  .work__img {
    max-width: 100%;
  }
}
.work__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 1rem;
}
.work__desc h3 {
  line-height: 1;
}
.work__desc h5 {
  margin-top: 1rem;
  text-transform: uppercase;
  color: var(--black-2);
}
.work__desc p {
  margin-top: 1rem;
  color: var(--black-3);
}
.work__desc a {
  margin-top: 3vw;
  font-weight: 600;
}
.work__desc a:hover {
  color: var(--black-4);
}
.work__desc a:hover .triangle {
  transform: rotate(360deg);
  border-color: transparent transparent transparent var(--black-4);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.swiper-container {
  width: 100%;
  /* height: 100%; */
  overflow-x: hidden;
}

.swiper-slide {
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
  width: 100% !important;
  /* text-align: center; */
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  all: unset;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
  border: 1px solid var(--black-3);
  border-radius: 8px;
  transition: all 400ms ease-in-out;
}
.swiper-button-prev:hover, .swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-next:focus {
  background: var(--white-3);
  border: 1px solid var(--white-4);
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
}

.swiper-button-next::after {
  content: url(/assets/img/arrow-next.svg);
}

.swiper-button-prev::after {
  content: url(/assets/img/arrow-preview.svg);
}

.swiper-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 1rem 0 0;
}

.text {
  opacity: 0;
  position: absolute;
  z-index: 1000;
  text-align: left;
  margin: -50px 0 0 -150px;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  font-size: 48px;
  font-weight: 700;
  -webkit-animation: on .6s ease-in-out 3.7s forwards;
  animation: on .6s ease-in-out 3.7s forwards;
}
.text p {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation: type .3s steps(60, end) 3.7s;
  animation: type .3s steps(60, end) 3.7s;
}
.text p:nth-child(2) {
  -webkit-animation: type2 .5s steps(60, end) 3.7s;
  animation: type2 .5s steps(60, end) 3.7s;
}
.text button {
  border: 0;
  opacity: 0;
  background: #191919;
  color: var(--black-2);
  border: 1px solid #191919;
  letter-spacing: 2px;
  padding: 0.5rem 2.5rem;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
  -webkit-animation: on .6s ease-in-out 4s forwards;
  animation: on .6s ease-in-out 4s forwards;
}
.text button:hover {
  background: var(--black-2);
  color: #191919;
  border: 1px solid #191919;
}

.splash {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  overflow: hidden;
  z-index: 999;
}
.splash_logo {
  font-family: "Caslon Pro", Circular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(2.2rem, 2.1335rem + 0.3545vw, 2.488rem);
  position: absolute;
  margin: -15px 0 0 -25px;
  top: 50vh;
  z-index: 5;
  left: 50vw;
  width: 50px;
  text-align: center;
  height: 30px;
  font-weight: 600;
  color: #ffffff;
  opacity: 1;
  will-change: opacity;
  -webkit-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
  animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
}
.splash_logo:before {
  display: block;
  position: absolute;
  left: 15px;
  bottom: -20px;
  width: 20px;
  height: 1px;
  background-color: #757474;
  content: "";
}
.splash_logo:after {
  display: block;
  position: absolute;
  left: 15px;
  top: -5px;
  width: 20px;
  height: 1px;
  background-color: #757474;
  content: "";
  will-change: width;
}
.splash_svg {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.splash_svg svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_svg svg rect {
  width: 100%;
  height: 100%;
  fill: var(--black-2);
  stroke: 0;
  -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  -webkit-animation: expand .7s ease-in forwards 2.7s;
  animation: expand .7s ease-in forwards 2.7s;
}
.splash_minimize {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.splash_minimize svg {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.splash_minimize svg rect {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
  -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
  animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
}

@-webkit-keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@keyframes scale {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}
@-webkit-keyframes hide {
  100% {
    fill: transparent;
  }
}
@keyframes hide {
  100% {
    fill: transparent;
  }
}
@-webkit-keyframes off {
  100% {
    opacity: 0;
  }
}
@keyframes off {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes on {
  100% {
    opacity: 1;
  }
}
@keyframes on {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes logo {
  100% {
    color: #292929;
  }
}
@keyframes logo {
  100% {
    color: #292929;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@-webkit-keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: var(--black-2);
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: var(--black-2);
  }
}
@keyframes expand {
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: var(--black-2);
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: var(--black-2);
  }
}

/*# sourceMappingURL=main.css.map */
