/**
 * Basic typography style for copy text
 */

@use "../abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap");

h1,
h2,
h3 {
  font-family: Outfit, Tahoma, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: $black-1;
  letter-spacing: 0.5px;

  &::-moz-selection {
    color: $white-1;
    background: $black-1;
  }

  &::selection {
    color: $white-1;
    background: $black-1;
  }
}

h4,
h5,
h6,
p,
ul {
  font-family: Circular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-block: 0.5rem;
  line-height: 1.2;

  &::-moz-selection {
    color: $white-3;
    background: $black-3;
  }

  &::selection {
    color: $white-3;
    background: $black-3;
  }
}

h1,
.h1 {
  font-size: clamp(2.2rem, 2.1335rem + 0.3545vw, 2.488rem);
}

h2,
.h2 {
  font-size: clamp(1.9rem, 1.8598rem + 0.2142vw, 2.074rem);
}

h3,
.h3 {
  font-size: clamp(2.0625rem, 1.5205rem + 1.7413vw, 2.5rem);
}

h4,
.h4 {
  font-size: clamp(1.5rem, 1.4474rem + 0.2806vw, 1.728rem);
}

h5,
.h5 {
  font-size: clamp(1.2rem, 1.1446rem + 0.2954vw, 1.44rem);
  font-weight: 500;
}

h6,
.h6 {
  font-size: clamp(1.1rem, 1.0769rem + 0.1231vw, 1.2rem);
  font-weight: 500;
}

p,
a {
  font-size: clamp(1rem, 0.9538rem + 0.2462vw, 1.2rem);
  font-weight: 200;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

span {
  &::-moz-selection {
    color: $white-1;
    background: $black-1;
  }
  &::selection {
    color: $white-1;
    background: $black-1;
  }
}

a {
  font-family: Circular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  color: $black-3;

  &:focus-visible {
    outline: 1px dashed $black-3;
    padding: 0.2rem;
    outline-offset: 0.2rem;
    font-weight: 500;
  }

  &::-moz-selection {
    color: $white-1;
    background: $black-1;
  }

  &::selection {
    color: $white-1;
    background: $black-1;
  }
}
