// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use "../abstracts/" as *;

.hero {
  display: flex;
  align-content: center;
  min-height: 100vh;

  margin: 0 1rem 0 7vw;

  @media (max-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    display: block;
    min-height: unset;
    margin: 1rem 1rem;
  }

  &__item {
    flex-basis: 100%;
  }

  &__side {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 4rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      height: 100vh;
    }
  }

  &__title {
    font-size: clamp(3.3rem, 3.1846rem + 0.6154vw, 3.8rem);
    line-height: 1.1;
    background: -webkit-linear-gradient(
      var(--black-2),
      var(--black-3),
      var(--black-4)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 95%;
  }

  &__desc {
    color: $black-4;
    font-weight: 400;
    width: 70%;
    margin-top: 0.5rem;
    // line-height: 2;
  }

  &__item--img {
    align-self: center;
    width: 100%;
    height: calc(100vh - 2rem);
  }

  &__img {
    // max-height: calc(100vh - 10%);
    // height: 500px;
    // width: auto;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__img__label {
    z-index: 2;
    position: absolute;
    color: $black-3;
    top: 60%;
    transform: translateX(-30%);

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      top: unset;
      transform: unset;
    }

    p {
      margin-bottom: -0.3rem;
      margin-left: 0.5rem;
      color: $black-4;
    }

    h3 {
      color: #ffffff;
      background: #000000;
      padding: 0.2rem;
      line-height: 1;
    }
  }

  &__contact {
    color: $black-3;
    display: flex;

    & > * {
      margin-right: 1rem;
    }

    &__item {
      &:hover {
        color: $black-1;
        // transform: translateX(-180);
        transition: all 400ms ease-in-out;
      }

      &::before {
        content: "";
        position: relative;
        // right: 100%;
        height: 2px;
        width: calc(100% - 15px);
        display: block;
        background: var(--black-4);
        transition: right 400ms ease-in-out;
        top: 100%;
      }

      &::after {
        content: "";
        position: relative;
        // right: 100%;
        height: 2px;
        width: 0;
        display: block;
        opacity: 1;
        background: var(--black-1);
        transition: width 400ms ease-in-out;
        top: 2px;
      }

      &:hover::after {
        width: calc(100% - 15px);
      }
    }
  }
}

.works {
  background: $white-2;
  padding-block: 2rem;
  //   height: 100vh;

  &__container {
    // margin-left: 3rem;
    margin-left: 5vw;
    margin-block: 1rem;
    // margin-top: 2rem;
  }

  &__title {
    width: 80%;
    line-height: 1;

    &::after {
      content: "";
      width: 180px;
      background: $black-4;
      height: 1px;
      display: block;
      // margin-top: -0.5rem;
      margin-block: 0.3rem;
    }
  }

  &__desc {
    font-size: 0.85rem;
    font-weight: 400;

    color: $black-4;
  }

  &__list {
    // margin-left: 7rem;
    margin-block: 2rem;

    display: flex;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
  }
}

.card {
  // background: $white-1;
  // border-radius: 0.65rem;
  width: 300px !important;
  min-width: 300px !important;
  height: 380px;
  border: 1px solid $white-4;
  transition: all 400ms ease-in-out;

  &:hover .card__img {
    transform: scale(1.2);
    transition: all 400ms ease-in-out;
  }

  &__title {
    margin-bottom: auto;
  }

  a {
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__container {
    overflow: hidden;
  }

  &__img {
    // aspect-ratio: 16/9;
    //   width: calc(300px - 3rem);
    width: 100%;
    height: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    overflow: hidden;
  }

  &__info {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    & > * {
      font-size: 0.8rem;
      color: $black-4;
    }
  }
}

.see-works {
  font-weight: 800;
  letter-spacing: 1.5px;

  &:hover {
    color: $black-4;
  }

  &:hover .triangle {
    transform: rotate(360deg);
    border-color: transparent transparent transparent $black-4;
  }
}

.swiper {
  width: 600px;
  height: 300px;
}
