@use "../abstracts/" as *;

.overview {
  display: flex;
  align-items: center;
  min-height: 100vh;

  margin: 0 7vw;

  @media (max-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    display: block;
    margin-top: 20vh;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }

  & > * {
    width: 50%;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      width: 90%;
    }
  }

  a:hover {
    color: $black-4;

    & .triangle {
      border-color: transparent transparent transparent $black-4;
      transform: rotate(360deg);
    }
  }

  .title {
    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      margin-top: 2rem;
    }

    & > h1 {
      font-size: clamp(3rem, 2.8644rem + 0.4356vw, 3.3rem);
      margin-bottom: 2rem;
      line-height: 1.2;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      row-gap: 1rem;
    }

    & > div {
      &::after {
        content: "";
        width: 100%;
        background: $white-4;
        height: 1px;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
      }
    }

    p,
    h4 {
      color: $black-3;
    }

    p.title {
      font-size: 1rem;
      color: $black-4;
    }
  }
}

.project__img {
  margin: 2vw 7vw;

  @media (max-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    width: calc(100% - 7w);
  }

  img {
    max-width: 100%;
  }
}

.tools {
  margin: 7vw 7vw;

  &::after {
    content: "";
    width: 100%;
    background: $white-4;
    height: 1px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }

  h4.title {
    color: $black-1;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      justify-content: center;
    }
  }

  &__item {
    display: grid;
    place-items: center;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      min-width: 20vw;
    }

    &__img {
      height: 50px;
      margin-bottom: 0.5rem;

      &--png {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
      }

      path {
        fill: $black-1;
      }
    }
    p {
      color: $black-2;
    }
  }
}

.margin-left {
  margin-left: 20vw;

  @media (max-width: map-get($breakpoints, "medium")) {
    // Medium smartphone
    margin-left: 15vw;
  }
}

.process {
  margin: 0 7vw;

  &::after {
    content: "";
    width: 100%;
    background: $white-4;
    height: 1px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }

  h4.title {
    color: $black-1;
    margin-bottom: 3rem;
  }

  h5 {
    color: $black-2;
  }

  p {
    margin-bottom: 1rem;
    color: $black-3;
  }

  div {
    margin-bottom: 2rem;
  }
}

.result {
  h4.title {
    color: $black-1;
    margin: 7vw 7vw 3vw 7vw;
  }

  &__img {
    width: 100%;
  }
}
