@use "../abstracts/" as *;

.work {
  &__list {
    margin: 6vw 7vw 0 7vw;

    @media (max-width: map-get($breakpoints, "small")) {
      // Small smartphone
      margin-top: 20vh;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 4rem;

    @media (max-width: map-get($breakpoints, "medium")) {
      flex-direction: column;

      &::after {
        content: "";
        width: 100%;
        background: $white-4;
        height: 1px;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
      }
    }

    &:hover .work__img {
      transform: scale(1.2);
      transition: all 1s ease-in-out;
    }

    & > * {
      flex-basis: 50%;
    }
  }

  &__img {
    max-width: 40%;
    -o-object-fit: contain;
    object-fit: contain;
    overflow: hidden;

    @media (max-width: map-get($breakpoints, "medium")) {
      // Medium smartphone
      max-width: 100%;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 1rem;

    h3 {
      line-height: 1;
    }

    h5 {
      margin-top: 1rem;
      text-transform: uppercase;
      color: $black-2;
    }

    p {
      margin-top: 1rem;
      color: $black-3;
    }

    a {
      margin-top: 3vw;
      font-weight: 600;

      &:hover {
        color: $black-4;
      }

      &:hover .triangle {
        transform: rotate(360deg);
        border-color: transparent transparent transparent $black-4;
      }
    }
  }
}
