@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
        --pale-white: #ffffff;
        --pale-white-palette-bg: #ffffff00;
        --anti-flash-white: #f5f5f7;
        --anti-flash-white-palette-bg: #f5f5f733;
        --battleship-gray: #8e8e90;
        --raisin-black: #92949e;
        --rich-black: #0a0a0a;
        --project-hero-bg-top: rgba(255, 255, 255, 0.08);
        --project-hero-bg-bottom: rgba(255, 255, 255, 0.6);
        --heading-1: clamp(2.375rem, 1.6268rem + 3.1925vw, 4.5rem);
        --heading-2: clamp(2.15rem, 1.4986rem + 2.7793vw, 4rem);
        --heading-3: clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
        --heading-4: clamp(1.125rem, 1.0886rem + 0.1794vw, 1.25rem);
        --text-xs: clamp(0.625rem, 0.5886rem + 0.1794vw, 0.75rem);
        --text-sm: clamp(0.75rem, 0.7136rem + 0.1794vw, 0.875rem);
        --text-base: clamp(0.875rem, 0.8386rem + 0.1794vw, 1rem);
        --line-height-base: clamp(0.875rem, 0.8386rem + 0.1794vw, 1rem);
        --line-height-heading-1: clamp(2.5rem, 1.7958rem + 3.0047vw, 4.5rem);
        --line-height-heading-2: clamp(3.2rem, 2.9668rem + 1.148vw, 4rem);
        --line-height-heading-3: clamp(1.75rem, 1.3979rem + 1.5023vw, 2.75rem);
        --line-height-heading-4: clamp(1.125rem, 1.0886rem + 0.1794vw, 1.25rem);
        --spacing-heading-1: clamp(0.2em, 0.25em, 0.3em);
        --spacing-heading-3: clamp(0.1em, 0.15em, 0.2em);
        --gradient-centered: linear-gradient(to right,
                        #fdfdfd 0%,
                        #8e8e9065 15%,
                        #000000 50%,
                        #8e8e9065 85%,
                        #fdfdfd 100%);
        --gradient-space-between: linear-gradient(to right,
                        #0a0a0a30 0%,
                        #8e8e9065 25%,
                        #fdfdfd 50%,
                        #8e8e9065 65%,
                        #0a0a0a30 100%);
        --gradient-horizontal: linear-gradient(to top,
                        #ffffff10 0%,
                        #8e8e9065 15%,
                        #0a0a0a 50%,
                        #8e8e9065 85%,
                        #ffffff10 100%);
        --gradient-to-left: linear-gradient(to left,
                        #fdfdfd 0%,
                        #8e8e9065 45%,
                        #0a0a0a30 100%);
        --gradient-to-right: linear-gradient(to right,
                        #fdfdfd 0%,
                        #8e8e9065 45%,
                        #0a0a0a30 100%);
        --gradient-hero-bg: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0) 40%,
                        var(--pale-white) 100%);
        --gradient-footer-bg: linear-gradient(to left,
                        var(--pale-white) 20%,
                        rgba(0, 0, 0, 0) 100%);
}


@media (prefers-color-scheme: dark) {
        :root {
                --pale-white: #0a0a0a;
                --pale-white-palette-bg: #0a0a0a00;
                --anti-flash-white: #92949e;
                --anti-flash-white-palette-bg: #22232933;
                --battleship-gray: #8e8e90;
                --raisin-black: #f5f5f7;
                --rich-black: #ffffff;
                --project-hero-bg-top: rgba(0, 0, 0, 0.05);
                --project-hero-bg-bottom: rgba(0, 0, 0, 0.6);
                --gradient-centered: linear-gradient(to right,
                                #0a0a0a30 0%,
                                #8e8e9065 25%,
                                #fdfdfd 50%,
                                #8e8e9065 65%,
                                #0a0a0a30 100%);
                --gradient-space-between: linear-gradient(to right,
                                #fdfdfd 0%,
                                #8e8e9065 15%,
                                #0a0a0a30 50%,
                                #8e8e9065 85%,
                                #fdfdfd 100%);
                --gradient-horizontal: linear-gradient(to top,
                                #0a0a0a30 0%,
                                #8e8e9065 15%,
                                #fdfdfd 50%,
                                #8e8e9065 85%,
                                #0a0a0a30 100%);
                --gradient-to-left: linear-gradient(to left,
                                #0a0a0a30 0%,
                                #8e8e9065 45%,
                                #fdfdfd 100%);
                --gradient-to-right: linear-gradient(to right,
                                #0a0a0a30 0%,
                                #8e8e9065 45%,
                                #fdfdfd 100%);
                --gradient-hero-bg: linear-gradient(to bottom,
                                rgba(0, 0, 0, 0) 45%,
                                #212121 100%);
                --gradient-footer-bg: linear-gradient(to left,
                                #212121 0%,
                                rgba(0, 0, 0, 0) 100%);
        }

}

html {
        scroll-behavior: smooth !important;
}

body {
        color: var(--rich-black);
        background: var(--pale-white);
        font-family: Geist, Arial, Helvetica, sans-serif;
        font-size: var(--text-base);
        text-wrap: pretty;
}

::-moz-selection {
        background: var(--rich-black);
        color: var(--anti-flash-white);

}

::selection {
        background: var(--rich-black);
        color: var(--anti-flash-white);
}

@layer utilities {
        .text-balance {
                text-wrap: balance;
        }
}

@layer components {}